POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_MAX_CONNS=
POSTGRES_MIN_CONNS=

REDIS_ADDR=

OLLAMA_BASE_URL=
OLLAMA_EMBED_MODEL=
OLLAMA_LLM_MODEL=

POSTGRES_URL=